.Sector-Diversification-table-data {
    position: relative;
}

.product-details .Sector-Diversification-table-data {
    display: block;
}

.product-details .table.Sector-Diversification-table thead th{
	 min-width: 170px; 
 }
 
.product-details table.Sector-Diversification-table th:first-child, .product-details table.Sector-Diversification-table tbody tr td:first-child {
    min-width: 170px;
    text-align: left;
}

.sectordiversification .heading {
  	 margin: 15px 0 0;
}
	
@media screen and (min-width:1024px) {
    .product-details .Sector-Diversification-table-data {
        display: block;
    }
    .sectordiversification .heading {
    	margin: 0px 0 15px;
	}
	
	.product-details .table.Sector-Diversification-table thead th{
	 min-width: 100px; 
	}
}