<sly data-sly-use.model="com.vcm.core.models.LabelsConfigModel">
<div class="content-wrapper mbl-container-w100-px15">
	<div style="margin-top: 20px;"
		class="st-section-heading st-heading-blue">
		<h2>${model.title}</h2>
	</div>
	<table style="margin-top: 20px;" class="table table-bordered">
		<thead>
			<tr>
				<th scope="col"><b>Key</b></th>
				<th scope="col"><b>Values</b></th>
			</tr>
		</thead>
		<tbody>
			<sly data-sly-list.mapKey="${model.keyValueMap}">
			<tr>
				<td><b>${mapKey.key}</b></td>
				<td>
					<div style="margin: 5px;">${mapKey.value}</div>
				</td>
			</tr>
			</sly>
			<sly data-sly-list.labelKey="${model.labelKeyValueMap}">
			<tr>
				<td><b>${labelKey.key}</b></td>
				<td>
				 <sly data-sly-list.labelKeychild="${labelKey.labelValues}">
					<div style="margin: 5px;">${labelKeychild.key} : ${labelKeychild.value}</div>
				</sly>	
				</td>
			</tr>
			</sly>
		</tbody>
	</table>
</div>
</sly>
