<sly data-sly-use.leadershipTeam="com.vcm.core.models.InvestmentTeams"/>
<sly data-sly-test.notempty="${leadershipTeam.rootPath}"/>
<sly data-sly-test="${wcmmode.edit && !notempty}"><div class="cq-placeholder" data-emptyText="${component.title}"/></sly>
<sly data-sly-test="${notempty}">
	<div class="container">
		<div class="content-wrapper">
			<sly data-sly-test="${leadershipTeam.heading}">
				<div class="title-desc-default px-3 px-md-0 px-lg-0 mb-40">
					<h3 class="blueHdng-greenBorder d-inline-block">${leadershipTeam.heading}</h3>
				</div>
			</sly>
			<sly data-sly-test="${leadershipTeam.list}">
				<div class="row m--0 leader-wrap">
					<sly data-sly-list.leaderbio ="${leadershipTeam.list}">
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 leader-box">
							<div class="st-cmp-wrapper">
								<a class="st-link-box" href="${leaderbio.pagePath}">
									<div class="st-cmp-leader st-box-border-green-left">
										<img class="st-cmp-leader-img" alt="${leaderbio.altText || true}" src="${leaderbio.bioPicture}"/>
										<span class="st-cmp-leader-title">${leaderbio.fullname}<sly data-sly-test="${leaderbio.titleAbbreviation}">, ${leaderbio.titleAbbreviation}</sly></span>
										<div class="st-cmp-leader-desc-wrapper">
											<span class="st-cmp-leader-desc">${leaderbio.designation}</span>
										</div>
										<span class="st-cmp-leader-arrow"></span>
									</div>
								</a>
							</div>
						</div>
					</sly>
				</div>
			</sly>
		</div>
	</div>
</sly>