.regionallocation span.date-text {
	display: inline-block;
}
.regionallocation .heading {
     margin: 15px 0 0;
}

@media screen and (min-width:1024px) {
    .regionallocation .heading {
    	margin: 0px 0 15px;
	}
}